
@{
    ViewBag.Title = "EmpDetails";
}

<h2>EmpDetails</h2>
<div style="position:center">
    <table class="table-bordered">
        <tr>
            <td> Employee Id:</td>
            <td>@ViewBag.EmpId</td>
        </tr>
        <tr>
            <td> Employee Name:</td>
            <td>@ViewBag.name</td>
        </tr>
        <tr>
            <td> Gender:</td>
            <td>@ViewBag.Gender</td>
        </tr>
        <tr>
            <td> Department:</td>
            <td>@ViewBag.department</td>
        </tr>
        <tr>
            <td> Gender:</td>
            <td>@ViewBag.salary</td>
        </tr>
    </table>
</div>

